:root {
	--background-color: white;
	--text-color: #101010;
    --primary-color: #e3783d;
    --secondary-color: #fcf1ea;
}

@font-face { font-family: Montserrat; src: local("Montserrat"), url('/fonts/montserrat.woff2'); font-style: normal;} 
@font-face { font-family: Montserrat; src: local("Montserrat Bold"), url('/fonts/montserrat.woff2'); font-style: normal; font-weight: bold;} 
@font-face { font-family: Montserrat; src: local("Montserrat Italic"), url('/fonts/montserrat_italic.woff2'); font-style: italic;}