* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat
}

header {
    padding: 30px;
    font-size: large;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    &:after {
      content:'';
      display:block;
      flex-grow: 10;
    }
}

.photo-container {
    height: 300px;
    flex-grow: 1;
    padding: 2px;
}

.gallery-container li {
    height: 300px;
    flex-grow: 1;
    padding: 2px;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media screen and (max-width: 640px) {
    .photo-container {
        height: 150px;
    }
    .gallery-container li {
        height: 150px;
    }
    
}
  
