@import url(/assets/style/app.css);

* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat
}

body {
    margin: 0;
    padding: 3px;
}

header {
    padding: 20px;
    font-size: large;
    font-weight: bold;
    color: var(--primary-color);
    display: flex;
    gap: 20px;
    align-items: center;
}

footer {
    margin: 20px auto;
    font-size: small;
    text-align: center;
    color: #323232;
    & a {
        color: inherit;
    }
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &:after {
      content:'';
      display:block;
      flex-grow: 10;
    }
}

.gallery-container li {
    height: 125px;
    flex-grow: 1;
    padding: 1.5px;
}

.gallery-container li a img {
    border-radius: 4px;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media screen and (min-width: 640px) {    
    body {
        padding: 4px;
    }

    header {
        padding: 30px;
    }
    .gallery-container li {
        height: 300px;
        padding: 2px;

        > a img {
            border-radius: 6px;
        }
    }
    
}
  
