@import url(/assets/style/app.css);

* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
    width: 100%;
    overflow: hidden;
}

#body-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#view-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}


#view-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.view-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 50px;
    width: 100%;
    gap: 10px;
}

.view-display {
    padding: 0 5px;
    min-height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 40px;
    flex-grow: 1;
}

#img-container {
    height: 100%;
    order: 2;
    flex-grow: 1;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#img-display {
    max-width: 100%;
    max-height: 100%;
}

.nav-button {
    color: var(--primary-color);
    /* background-color: var(--secondary-color); */
    &:hover {
        box-shadow: 0 0 3px var(--primary-color);
    }
    transition: all 0.2s;
    cursor: pointer;
    padding: 6px;
    text-align: center;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    & svg {
        height: 18px;
        width: auto;
    }
}

#close-button {
    padding: 8px;
    & svg {
        height: 14px;
    }
}

.view-index {
    height: 60px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color)
}

#info-container {
    width: 100%;
    height: 200px;
    display: none;
    background-color: var(--secondary-color);
    flex-direction: column;
    border-radius: 5px;
}

.info-content {
    height: 50px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & p {
        margin-block: 0;
        flex-grow: 0;
    }
}

.info-histogram {
    display: none;
    height: fit-content;

    & .info-icon {
        align-self: start;
    }
}


#info-date, #info-filename, #info-camera, #histogram-title {
    font-weight: bold;
}

#info-properties, #info-settings {
    font-size: small;
}

#histogram-canvas {
    width: 200px;
    aspect-ratio: 1.4;
    stroke: var(--text-color) 1px;
    border-radius: 5px;
}

#left-arrow-nav {
    order: 1;
    display: none;
}

#right-arrow-nav {
    order: 3;
    display: none;
}

@media screen and (min-width: 640px) {
    #left-arrow-nav {
        display: block;
    }
    #right-arrow-nav {
        display: block;
    }

    .view-header {
        padding: 20px;
        height: 100px;
    }

    #view-content {
        flex-direction: row;
    }

    #info-container {
        height: 100%;
        width: 300px;
        gap: 10px;
    }

    .info-histogram {
        display: flex;
    }

    .nav-button {        
        &:hover {
            box-shadow: 0 0 6px var(--primary-color);
        }
        padding: 14px;
        border-radius: 30px;
        height: 60px;
        width: 60px;
        & svg {
            height: 30px;
        }
    }

    #close-button {
        padding: 17px;
        & svg {
            height: 24px;
        }
    }    
    
    .view-display {
        padding: 0 40px;
    }
}