@import url(/assets/style/app.css);

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow: hidden;
}


.view-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.view-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 100px;
    width: 100%;
    gap: 10px;
}

.view-display {
    padding: 0 40px 0 40px;
    min-height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 40px;
    flex-grow: 1;
}

#img-container {
    height: 100%;
    order: 2;
    flex-grow: 1;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#img-display {
    max-width: 100%;
    max-height: 100%;
}

.nav-button {
    color: var(--primary-color);
    /* background-color: var(--secondary-color); */
    &:hover {
        box-shadow: 0 0 6px var(--primary-color);
    }
    transition: all 0.2s;
    cursor: pointer;
    padding: 14px;
    text-align: center;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    flex-grow: 0;
    & svg {
        height: 30px;
        width: auto;
    }
}

#close-button {
    padding: 17px;
    & svg {
        height: 24px;
    }
}

.view-index {
    height: 60px;
    padding: 20px;
    text-align: center;
}

.exif-container {
    height: 100%;
    width: 0px;
    display: none;
    background-color: tomato;
}

#left-arrow-nav {
    order: 1;
}

#right-arrow-nav {
    order: 3;
}